<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/chat.css">
    </head>
    <body>
        <div class="container clearfix">
            <div class="room-list">
                <div class="search">
                    <input type="text" placeholder="search" />
                    <img 
                        class="fa fa-search"
                        src="/assets/search.svg" 
                        alt="triangle with all three sides equal"
                        height="40px"
                        width="40px" />
                </div>
                <ul class="list" id="room_list">
                    {{!-- {{>chat-room room}} --}}
                </ul>
                <div class="search">
                    <input type="text" id="join_room" placeholder="Join Room" />
                    <img 
                        id="join_room_button"
                        class="fa fa-add"
                        src="/assets/add.svg" 
                        alt="triangle with all three sides equal"
                        height="40px"
                        width="40px" />
                </div>
            </div>
            <div class="chat">
                <div class="header">
                    <div id="user_info"></div>
                    <div id="logout">logout</div>
                </div>
   
                    <div id="chat_container" class="chat-history">
                        <ul id="message_container">
 
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <textarea name="message-to-send" id="message" placeholder ="Type your message" rows="3"></textarea>   
                        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-file-image-o"></i>
                        <button id="send_location">Share Location</button>
                        <button id="send_message">Send</button>
                    </div>

            </div>
        </div>
        <script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>
        <script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-3ce4425.js"></script>
        <script src="/templates/helpers/helpers.js"></script>
        <script src="/templates/partials.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="/libs/ajax.js"></script>
        <script type="module" src="/scripts/chat.js"></script>
        <script type="module" src="/scripts/chat.main.js"></script>
    </body>
</html>