<li class="clearfix">
    <div class="message-data">
        <span class="message-data-name"><i class="fa fa-circle online"></i>{{user}}</span>
        <span class="message-data-time">{{time}}</span>
    </div>
    <div class="message other-message">
       {{message}}
    </div>
</li>