<li class="clearfix">
    <div class="message-data align-right">
        <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
        <span class="message-data-name" >{{user}}</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message my-message float-right">
        {{#switch type}} 
            {{#case 'LOCATION'}} 
                <iframe src={{content}}></iframe>
            {{/case}} 
            {{#case 'MESSAGE'}}
                {{content}}
            {{/case}} 
        {{/switch}}
    </div>
</li>